<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF=8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Refinance today!</h1>
    <p>
      Interest rates dropped today and now is your chance to lock your rate at historic lows!
    </p>
    <p>Log on to our site to begin the very simple and quick process!</p>
    <p>We look forward to helping you! </p>
  </body>
</html>
